<dbnet = http://127.0.0.1:3000/index/auth?user_id=%s&user_password=%s&character_name=%s&world_id=%d>
<dcoshop = http://127.0.0.1:3000/index/auth?user_id=%s&user_password=%s&character_name=%s&world_id=%d&ref=shop>
<slot = http://127.0.0.1:3000/index/auth?ref=ddslot&user_id=%s&user_password=%s&character_name=%s&world_id=%d&session_id=%s&mid=%d>
<roulette = http://127.0.0.1:3000/index/auth?ref=jr&user_id=%s&user_password=%s&character_name=%s&world_id=%d&session_id=%s>
<videogame = http://127.0.0.1:3000/index/auth?ref=tower&user_id=%s&user_password=%s&character_name=%s&world_id=%d&session_id=%s&mid=%d>
<slotvip = http://127.0.0.1:3000/index/auth?ref=ddslotv&user_id=%s&user_password=%s&character_name=%s&world_id=%d&session_id=%s&mid=%d>
<roulettevip = http://127.0.0.1:3000/index/auth?ref=jrv&user_id=%s&user_password=%s&character_name=%s&world_id=%d&session_id=%s>
<videogamevip = http://127.0.0.1:3000/index/auth?ref=towerv&user_id=%s&user_password=%s&character_name=%s&world_id=%d&session_id=%s&mid=%d>
<kino = http://127.0.0.1:3000/index/auth?ref=casino&user_id=%s&user_password=%s&character_name=%s&world_id=%d&session_id=%s>
<login = http://127.0.0.1:10999/>
<birthday = http://127.0.0.1:3000/index/auth?user_id=%s&user_password=%s>
